@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout="Simple"; //<<== Using a different Layout created
}
<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
@foreach (var alumno in @Model)
{
    <partial name="ObjetoEscuelaSimple" model="alumno"/>
}

<p><i>@ViewBag.Fecha</i></p>